<div class="text-center">
    <h1>Sign In</h1>

    <%= form_with(model: @user, url: sessions_path, local: true) do |form| %>

    <!-- Display error message of form -->
    <% if form.object.errors.full_messages.any? %>
      <ul class='error'>
        <% form.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <!-- Field for session form -->
    <div class='row'>
      <%= form.label :email %>
      <%= form.text_field :email, placeholder: 'Please enter email id' %>
    </div>

    <div class='row'>
      <%= form.label :password %>
      <%= form.password_field :password, placeholder: 'Please enter password' %>
    </div>

    <div class='row'>
      <%= form.submit 'Sign In' %>
    </div>


    <% end %>
</div>